.about_container {
    display: flex;
    justify-content: space-between;
    margin-block: 6vw;
}

.about_img {
    max-width: 50%;
    width: 40%;
    border-radius: 5px;
}

.about_text_container {
    width: 47%;
}

.about_main_text {
    max-width: 30ch;
    font-size: 30px;
}

.about_para, .about_para_small {
    max-width: 60ch;
}

.about_para_small {
    display: none;
}

.read_more_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(127, 127, 251);
    text-decoration: underline;
}

.read_more_btn:hover {
    color: rgb(109, 109, 245);
}

@media (max-width: 850px) {
    .about_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px
    }

    .about_img {
        width: 100% !important;
        max-width: 100%;
    }

    .about_text_container {
        width: 100%;
    }

    .about_main_text {
        max-width: 100%;
        font-size: 25px;
    }
    .about_para, .about_para_small {
        max-width: 100%;
        margin-top: 1rem;
    }
}

@media (max-width: 550px) {
    .about_para {
        display: none;
    }

    .about_para_small  {
        display: inline-block;
    }
}