.main_para_styling {
    margin-top: 1rem;
    margin: 0.5em 0;
    color: #4f4e4e;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    fill: #4f4e4e;
    letter-spacing: .01em;
    word-wrap: break-word;
}

.sub_para_styling {
    color: #343434;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0em;
    margin: 1em 0;
    font-family: Open Sans, sans-serif;
}

.form_field {
    color: #636363;
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(52, 52, 52, 0.2);
    outline: 0;
    font-weight: 400;
    border-radius: 0;
    line-height: 1.5;
    margin: 0 0 25px;
    fill: #343434;
    padding: 10px;
    font-size: 16px;
}


/* -------------------- IMAGES COLLECTION DISPLAY ON GALLERY AND HOME PAGE ------------------ */

.display_img_container {
    columns: 3;
    column-gap: 10px;
    padding-block: 4vw;
    overflow: hidden;
}

.display_img_box {
    width: 100%;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}

.display_img {
    /* width: 100%; */
    width: 100%;
    aspect-ratio: initial;
    border-radius: 15px;
}


@media (max-width: 800px){
    .display_img_container {
        columns: 2;
    }
}

@media (max-width: 550px) {
    .display_img_container {
        column-gap: 2vw;
    }

    .display_img_box {
        margin-bottom: 3px;
    }
}

/* -------------------- END OF IMAGES COLLECTION DISPLAY ON GALLERY AND HOME PAGE ------------------ */




/* --------------------- TOASTIFY CSS FIXED ON SMALL DEVICES ---------------- */

@media only screen and (max-width: 480px) {

    .Toastify__toast-container--top-left,
    .Toastify__toast-container--top-center,
    .Toastify__toast-container--top-right {
        top: 1em !important;
    }
    .Toastify__toast-container {
        width: 80vw !important;
        left: auto !important;
    }
}